{%extends "index.html"%}

{%block userNavLinks%}
{%endblock%}

{%block carousel%}
{%endblock%}

{%block pageContent%}
<div class="form_signin_container">
	<form class="form-signin" role="form" action="/signup" onsubmit="return validateSignupForm()" method="post" name="signup_form">
		<h2 class="form-signin-heading">Sign up for free</h2>
		<input type="text" name="name" class="form-control" placeholder="Full Name" value="{{name}}"><br>
		<input type="text" name="email" class="form-control" placeholder="Email Address" value="{{signupEmail}}"><br>
		<input type="password" name="password" class="form-control" placeholder="Password" required>
		<input type="password" name="verifyPassword" class="form-control" placeholder="Re-enter Password" required>
		<label><input type="checkbox" name="remember"> Remember Me</label>
		<div class="error" style="color:red;">{{signupError}}</div>
		<button class="btn btn-lg btn-success btn-block" type="submit">Sign up</button>
	</form>

	<br><hr><br>

	<form class="form-signin" role="form" action="/login" onsubmit="return validateLoginForm()" method="post" name="login_form">
		<h2 class="form-signin-heading">Please sign in</h2>
		<input type="text" name="email" class="form-control" placeholder="Email Address" value="{{signinEmail}}"><br>
		<input type="password" name="password" class="form-control" placeholder="Password">
		<label><input type="checkbox" name="remember"> Remember Me</label>
		<div class="error" style="color:red;">{{signinError}}</div>
		<button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
		<p> or </p>
		<a href="#"><button class="btn btn-block btn-lg btn-primary" type="button"><span class="glyphicon glyphicon-user"></span> Sign in via Facebook</button></a>
	</form>
</div>
{%endblock%}