<!DOCTYPE html>
<html>
	<head>
  		<title>World Photographers Club</title>
  		{%block pageStyle%}
  		<link rel="stylesheet" type="text/css" href="/css/home.css">
  		{%endblock%}
	</head>
	<body>
		<div class="navbar">
			<div class="logo">
				<a href="/home"><img src="/images/wpc_logo.png" alt="logo"></a>
			</div>
			<ul class="wpc-nav">
				<li><a href="#">Search</a></li>
				<li><a href="#">Explore</a></li>
				<li><a href="#">WPC Forum</a></li>
			</ul>
			<ul class="user-nav">
				<li><a href="/home">Home</a></li>
				<li><a href="/myStudio">MyStudio</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>

		{%block pageHeader%}
		<div class="headerbar">
			<div class="header">
				<a href="/myStudio"><h1>{{me.name}}</h1></a>
			</div>
		</div>
		{%endblock%}

		{%block pageContent%}
		{%endblock%}

	</body>
</html>
