{%extends "home.html"%}

{%block pageContent%}
<div class="post">
	<div class="post-heading">
		<div class="post-title">
			<h3>{{pic.caption}}</h3>
		</div>
		<div class="post-date">
			{{pic.created.strftime("%b %d, %Y")}}
		</div>
	</div>
	<div class="post-content">
		<img src="/serveImage/{{pic.blobKey}}" alt="image">
	</div>
	<div class="post-action">
		<form method="post">
			<input type="hidden" name="actionType" value="delete">
			<div><input type="submit" value="Delete"></div>
		</form>
	</div>
</div>
{%endblock%}