.navbar {
	background-color: #f7f7f7;
}

.logo {
	display: inline;
}

.header h1 {
	color: #ff0f0f;
	font-family: 'Shift', sans-serif;
	font-size: 48px;
	font-weight: bold;
	display: inline;
}

.wpc-nav {
	display: inline;
}

.user-nav {
	display: inline;
}

.navbar li {
	font-size: 20px;
	display: inline;
	padding-right: 3px;
	padding-left: 3px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
}

.navbar li a {
	color: #000000;
}