<!DOCTYPE html>
<html>
	{%set siteName = 'WPC'%}
	<head>
  		<title>{{siteName}} | Connect, share, bring out the photographer in you!</title>
  	<!--	<link rel="stylesheet" type="text/css" href="/css/main.css"> -->
	</head>
	<body>
		{%block navBar%}
		<hr>NavBar<hr>
		<div class="navbar">
			<div class="container">
				<div class="nav-header">
					<div><img src="/images/icon.png" alt="icon"></div>
					<div><a href="#"><h1>{{siteName}}</h1></a></div>
				</div>
			</div>
			<ul class="container">
				<li><a href="#photo">Photos</a></li>
				<li><a href="#blog">Blogs</a></li>
				<li><a href="#forum">Forum</a></li>
				<li>
					<form class="nav-form" method="get" action="#search">
						<input class="nav-search" type="text" name="q" placeholder="Search">
					</form>
				</li>
			</ul>
			<ul class="container">
				<li><button type="button"><a href="/signin">Signup</a></button></li>
				<li><a href="#">Explore</a></li>
				<li><a href="#">Get Started</a></li>
				<li><a href="#">{{siteName}} Network</a></li>
				<li class="dropdown">
					<a href="#">Login</a>
					<form class="dropdown-form" method="post" action="/login">
						<input type="text" name="email" placeholder="Email">
						<input type="password" name="password" placeholder="Password">
						<input type="submit" value="Login">
					</form>
				</li>
			</ul>
		</div>
		{%endblock%}

		{%block headerBar%}
		<hr>HeaderBar<hr>
		{%endblock%}

		{%block menuBar%}
		<hr>MenuBar<hr>
		{%endblock%}

		{%block pageContent%}
		<hr>PageContent<hr>
		{%endblock%}

	</body>
</html>